@using Microsoft.AspNetCore.Identity
@using FoodRecipe.Models.Enums
@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager
@{
    bool isLoggeedIn = _signInManager.IsSignedIn(this.User);
    bool isUserAdmin = false;
    IdentityUser user = await _userManager.GetUserAsync(this.User);

    if(user != null){
         isUserAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.RecipeAdmin.ToString());
    }
  
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodRecipe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" style="color:antiquewhite" asp-area="" asp-page="/Index"> <img src="~/img/food-logo.png" width="58px" />Food Recipe Hub</a>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about-section" class="nav-link text-light">About </a>
                        </li>
                        <!--Search Dropdown-->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">
                                Search
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   asp-area="Recipe" asp-controller="ShowFoodCategories" asp-action="Index">By Category</a>
                                <a class="dropdown-item"
                                   asp-area="Recipe" asp-controller="ShowFoodSubCategories" asp-action="Index">By Sub Category</a>
                            </div>
                        </li>


                        <!--Recipe dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">
                                Recipe
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   asp-area="Recipe" asp-controller="ShowRecipes" asp-action="Index">Show Recipes</a>
                            </div>
                        </li>

                      
                            <!--end of recipe dropdown -->

                        <li class="nav-item">
                            <a href="#contact" class="nav-link text-light">Contact</a>
                        </li>
                        <!-- upcoming Event -->
                        <li>
                            <a  class="nav-link text-light" asp-area="Recipe" asp-controller="FoodEvents" asp-action="Index">Event</a>
                        </li>


                        <!--Manage Dropdown-->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">
                                Manage
                            </a>
                            <div class="dropdown-menu">

                        @if(isLoggeedIn)
                        {
                             //only and only Admin can access it
                            @if(isUserAdmin)
                            { 
                                <a class="dropdown-item"
                                   asp-area="Recipe" asp-controller="FoodCategories" asp-action="Index">Add Category</a>
            
                                   <a class="dropdown-item"
                                   asp-area="Recipe" asp-controller="FoodSubCategories" asp-action="Index">Add Sub Category</a>
                            }                
                                   
                        }      
                                   <a class="dropdown-item"
                                   asp-area="Recipe" asp-controller="AddFoodRecipes" asp-action="Index">Add Food Recipe</a>

                            </div>
                        </li>

                    </ul>
                   
                </div>
                    <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-dark footer text-muted">
        <div class="container" style="color:darkkhaki">
            &copy; 2022 - Food Recipe - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
