@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <!--fontawsome script for icons-->
    <script src="https://kit.fontawesome.com/c65c3f2840.js"
            crossorigin="anonymous">
    </script>


    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        .display-5 {
            background-color: tomato;
            padding: 12px;
            border-radius: 8px;
            font-family: 'Lucida Sans';
            font-size: 70px;
            text-align: center;
            color: azure;
        }

        .d-recipe img {
            width: 350px;
            border-radius: 3px;
        }


        .card {
            background-color: darkseagreen;
            margin-right: 24px;
        }
        <!-- contact us-- >
        .contact-left {
            flex-basis: 35%;
        }

        .contact-left p {
            margin-top: 30px;
        }

            .contact-left p i {
                margin-right: 15px;
                font-size: 25px;
            }

        .contact-right {
            flex-basis: 60%;
        }

            .contact-right form {
                width: 80%;
                margin-left: 20%;
            }

        .social-icons a {
            text-decoration: none;
            font-size: 30px;
            margin-top: 30px;
            margin-right: 15px;
            margin-bottom: 15px;
            display: inline-block;
        }

        form input, form textarea {
            width: 100%;
            padding: 15px;
            margin: 15px 0;
            font-size: 14px;
            outline: none;
        }

    </style>

</head>
<div class="banner">

    <h1 class="display-5">  <img src="~/img/burger-logo.jpg" style="border-radius:60%" width="12%" />&nbsp;Food Recipe Hub!</h1>
</div>
<!--Marque tag for event -->
<marquee width="100%" direction="left" height="25px">
    <a class=" text-decoration-none text-warning bg-light rounded" asp-area="Recipe" asp-controller="FoodEvents" asp-action="Index"> &nbsp;&nbsp;  Check Upcoming Event!  &nbsp;&nbsp;</a>
</marquee>

<!--single recipe-->
<div style="display:flex" class="demo-recipe">
    <figure>
        <img style="margin:12px" src="~/img/slide4.jpg" alt="slide 4 " width="250px" height="150px">
        <h5>  &nbsp;  Nan Rolls </h5>
        <p>  &nbsp;  Prep: 15min | Cook : 5min</p>
    </figure>
    <figure>
        <img style="margin:12px" src="~/img/slide3.jpg" alt="slide 3 " width="250px" height="150px">
        <h5> &nbsp; Pizza Medium </h5>
        <p>&nbsp;  Prep: 15min | Cook : 25min</p>
    </figure>
    <figure>
        <img style="margin:12px" src="~/img/slide2.jpg" alt="slide 2" width="250px" height="150px">
        <h5>&nbsp;  Banana Pancakes </h5>
        <p>&nbsp; Prep: 18min | Cook : 12min</p>
    </figure>
    <figure>
        <img style="margin:12px" src="~/img/slide1.jpg" alt="slide 1" width="250px" height="150px">
        <h5>&nbsp; Non-Veg Dish </h5>
        <p>&nbsp; Prep: 15min | Cook : 7min</p>
    </figure>

</div>
<br />
<div class="text-center">
    <!--check event btn-->
    <a class="btn btn-sm btn-danger float-right rounded-circle py-3 shadow-lg p-3 mb-5  rounded" asp-area="Recipe" asp-controller="FoodEvents" asp-action="Index">Check Event!</a>

    <h1>Popular Dishesh!</h1>
    <br />
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner" style="width:50px 50px">

            <div class="carousel-item active">
                <img src="~/img/burger2.jpg" alt="burger" width="650px" height="350px">

            </div>
            <div class="carousel-item">
                <img src="~/img/cup-cake.jpg" alt="cup cake" width="650px" height="350px">
            </div>
            <div class="carousel-item">
                <img src="~/img/ice-cream3.jpg" alt="sice cream " width="650px" height="350px">
            </div>
            <div class="carousel-item">
                <img src="~/img/pasta.jpg" alt="pasta" width="650px" height="350px">
            </div>
        </div>

        <!-- Left and right controls -->
        <a style="background-color:#FFF9F9" class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a style="background-color:#FFF9F9" class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <br />
    <hr />
    <div class="img-container">
        <h1>

            Go For Hunt!
        </h1><br />

        <div style="display:flex" class="img">
            <figure>
                <img style="margin:12px" src="~/img/slide4.jpg" alt="slide 4 " width="250px" height="150px">
                <h5><strong>Rolls</strong></h5>
            </figure>
            <figure>
                <img style="margin:12px" src="~/img/slide3.jpg" alt="slide 3 " width="250px" height="150px">
                <h5><strong>Pizza Minia</strong></h5>
            </figure>
            <figure>
                <img style="margin:12px" src="~/img/slide2.jpg" alt="slide 2" width="250px" height="150px">
                <h5><strong>Pan Cakes</strong></h5>
            </figure>
            <figure>
                <img style="margin:12px" src="~/img/slide1.jpg" alt="slide 1" width="250px" height="150px">
                <h5><strong>Serve Dishes</strong></h5>
            </figure>
        </div>
    </div>
    <hr />
    <!--Card conatiner-->
    <div class="card-container">
        <h1>Our Recipe</h1><br />
        <div class="col d-flex justify-content-center">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="~/img/cup-spoon.jpg" alt="Veg Soup">
                <div class="card-body">
                    <a class="btn btn-sm btn-dark" asp-area="Recipe" asp-controller="AddFoodRecipes" asp-action="GetRecipe" asp-route-filterFoodRecipeId="12">View Recipe</a>
                    <h4 class="card-title">Veg Soup</h4>
                    <p class="card-text">Enjoyed the food.</p>
                </div>

            </div>

            <div class="card" style="width:300px">
                <img class="card-img-top" src="~/img/ice-cream.jpg" alt="Vanila Mint Ice Cream">
                <div class="card-body">
                    <a class="btn btn-sm btn-dark" asp-area="Recipe" asp-controller="AddFoodRecipes" asp-action="GetRecipe" asp-route-filterFoodRecipeId="11">View Recipe</a>
                    <h4 class="card-title">Vanila Ice Cream</h4>
                    <p class="card-text">Enjoyed the food.</p>
                </div>

            </div>

            <div class="card" style="width:300px">
                <img class="card-img-top" src="~/img/for-card.jpg" alt="Fruits Salad">
                <div class="card-body">
                    <a class="btn btn-sm btn-dark" asp-area="Recipe" asp-controller="AddFoodRecipes" asp-action="GetRecipe" asp-route-filterFoodRecipeId="7">View Recipe</a>
                    <h4 class="card-title">Fruits Salad</h4>
                    <p class="card-text">Enjoyed the food.</p>
                </div>

            </div>

            <div class="card" style="width:300px">
                <img class="card-img-top" src="~/img/burger2.jpg" alt="Card image">
                <div class="card-body">
  
                    <a class="btn btn-sm btn-dark" asp-area="Recipe" asp-controller="AddFoodRecipes" asp-action="GetRecipe" asp-route-filterFoodRecipeId="1">View Recipe</a>
                    <h4 class="card-title">Veg Burger</h4>
                    <p class="card-text">Enjoyed the food.</p>
                </div>

            </div>
        </div>
    </div>

    <br />
    <hr />
    <div id="about-section">
        <div class="about-us">
            <h1>About Us</h1><br />
            <p style="text-align:justify">

                By the 1800s, cooking had become a hobby throughout the world. Using the newest technology and using a new publishing idea,
                Mrs Beeton (1836–1865) published her famous ‘Book of Household Management’, in 24 parts between 1857 and 1861.
                Around that same time the American cook Fannie Farmer (1857–1915) devoted herself to cooking. She published the book ‘The Boston Cooking School Cookbook’ in 1896 which had 1849 recipes.
                <br />
                The next revolution in popular culture came with introduction of the media cooks.
                The first was Philip Harben who was first on radio, with newspaper columns and books.
                Then he was first on British television, before Fanny Craddock.
                <br />
                TV cooking programs brought the recipes of cooks to a new audience who wanted to try out new ways of cooking. In the early days, the recipes were available by post from the BBC and later with the introduction of the CEEFAX text on screen system,
                they became available on the television. The new companies of Channel 4 and S4C also brought recipes to the television with their own text system called ORACLE. Today the television is still a major source of recipe information, with world-wide cooks and chefs such as Julia Child, Jamie Oliver, Nigella Lawson and Rachael Ray having TV shows and websites giving the details of all their recipes.
                <br />
                This is a list of American foods and dishes. There are a few foods that predate colonization, and the European colonization of the Americas brought about the introduction of many new ingredients and cooking styles.
                This variety continued expanding well into the 19th and 20th proportional to the influx migrants from additional foreign nations. There is a rich diversity in food preparation throughout the United States.
                This list is not exhaustive, nor does it cover every item consumed in the U.S., but it does include foods and dishes that are common in the U.S. (highly available and regularly consumed), or which originated there.
                The list is representative only. For more foods in a given category, see the main article for that category.
                <br />

            </p>
        </div>
    </div>
</div>
<hr />
<!--Contact Section -->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Us</h1>
                <p><i class="fa-solid fa-envelope"></i> <b>foodrecipehub@gmail.com</b></p>
                <p><i class="fa-brands fa-telegram"></i> <b>+91 1234 56 7890</b></p>
                <div class="social-icons">
                    <a href="https://facebook.com/">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://instagram.com/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://linkedin.com/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <a href="~/img/SampleRecipe.txt" download class="btn btn-danger">Sample Recipe</a>
            </div>
            <div class="contact-right">
                <form onsubmit="sendEmail(); reset(); return false;">
                    <input type="text" id="name" name="name" placeholder="Your Name" required />
                    <input type="email" id="email" name="email" placeholder="Your Email" required />
                    <input type="text" id="mobile" name="mobile" placeholder="Your Mobile no." required />
                    <textarea name="message" id="message" rows="6" placeholder="Message For Food Hub.."></textarea>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
            <script src="https://smtpjs.com/v3/smtp.js"></script>
            <script>
                function sendEmail(){
                    Email.send({
                        Host: "smtp.gmail.com",
                        Username: "olittle916@gmail.com",
                        Password: "thed@12k4",
                        To: 'gahaneamol37@gmail.com',
                        From: document.getElementById("email").value,
                        Subject: "Food Recipe Contact Enquiry",
                        Body: "Name: " + document.getElementById("name").value
                            + "<br> Email: " + document.getElementById("email").value
                            + "<br> Mobile no.: " + document.getElementById("mobile").value
                            + "<br> Message: " + document.getElementById("message").value
                    }).then(
                        message => alert("Message Sent Succesfully!")
                    );
                }
            </script>
        </div>
    </div>
</div>

